In [1]:
# 1. Find the data type of a if a=9

In [4]:
a=9
print(type(a))

<class 'int'>

In [5]:
#2. Find the data type of a if a=9

In [6]:
a=9
print(type(a))

<class 'int'>

In [ ]:
#3. Find the data type of a if a='9.'

In [7]:
a='9.'
print(type(a))

<class 'str'>

In [ ]:
#4. Find the data type of a if a=(9)

In [8]:
a=(9)
print(type(a))

<class 'int'>

In [ ]:
#5. Find the data type of a if a=False

In [9]:
a=False
print(type(a))

<class 'bool'>

In [ ]:
#6. Find the data type of a if a=[1,2,3]

In [10]:
a=[1,2,3]
print(type(a))

<class 'list'>

In [ ]:
#7. Find the data type of a if a=(1,2,3)

In [11]:
a=(1,2,3)
print(type(a))

<class 'tuple'>

In [ ]:
#8. Find the data type of a if a={'key': 9}

In [12]:
a={'key': 9}
print(type(a))

<class 'dict'>

In [ ]:
#9. Find the data type of a if a=1 + 9j

In [13]:
a=1 + 9j
print(type(a))

<class 'complex'>

In [ ]:
10. Set a=1 and b=2. What data type is a/b?

In [15]:
a=1
b=2
c = a/b
c
print(type(c))

<class 'float'>

In [ ]:
#11. Create a dictionary numbers = {'one':1, 'two':2, 'three':3}. Pull out the number '2' by calling the key 'two'

In [17]:
a={'one':1, 'two':2, 'three':3}
a["two"]

2

In [ ]:
#12. Create a tuple with the numbers 8, 9, and 10?

In [19]:
a=(8,9,10)
print(a,type(a))

(8, 9, 10) <class 'tuple'>

In [ ]:
#13. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
#d = {one:1, two:2, three:3} d[one]

In [23]:
# d = {one:1, two:2, three:3} d[one]
#Error is NameError: name 'one' is not defined bcoz here its Dictionary and here not use any single cotes ('') and in print not use (" ") in d[one] then use (' ')& (" ") all code is error free
#now error free code is
d = {'one':1, 'two':2, 'three':3}
d["one"]

1

In [27]:
#14 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
#f = false  not f
#NameError: name 'false' is not defined bcoz it is not defined any value like int , tuple , string, etc data type or not use nay syntax here

In [28]:
# error free code is using string ddata type
f = 'false' 
not f

False

In [29]:
#15. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
lst = [1,3,5] lst[3]
#SyntaxError: invalid syntax bcoz it is array and array index is start from 0,1,2,....

SyntaxError: invalid syntax (Temp/ipykernel_6844/3053079297.py, line 2)

In [31]:
# error free code is using string current array index 
lst = [1,3,5] 
lst[2]

5